* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
  font-family: "Asap", sans-serif;
}
h1 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}
h1 span {
  font-weight: bold;
  color: rgb(18, 209, 145);
}
p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #666666;
}
input {
  margin-bottom: 20px;
}
input,
textarea {
  background-color: #fff;
  border: 1px solid #bababa;
  border-radius: 5px;
  font-size: 16px;
  line-height: 30px;
  font-family: "Asap", sans-serif;

  display: block;

  width: 100%;
  padding: 10px 15px;
  outline: 0;
  color: #666666;
}
::placeholder {
  font-style: italic;
}
input:focus,
textarea:focus {
  border-color: aquamarine;
}
textarea {
  resize: none;
}
.massege {
  display: flex;
  height: 160px;
}
.massege textarea {
  flex-grow: 1;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
button {
  background: #2ec06c;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  padding: 0 12px;
  cursor: pointer;
}
button:hover {
  background: #7feead;
}
.social_links a {
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 140px;
}
.social_links a.facebook {
  border-color: #3b5998;
  background: #ffffff url("../img/facebook1.png") center center no-repeat;
}
.social_links a.facebook:hover {
  background-color: #3b5998;
  background-image: url("../img/facebook2.png");
}
.social_links a.twitter {
  border-color: #00aced;
  background: #ffffff url("../img/twitter1.png") center center no-repeat;
}
.social_links a.twitter:hover {
  background-color: #00aced;
  background-image: url("../img/twitter2.png");
}
.social_links a.instagram {
  border-color: #517fa4;
  background: #ffffff url("../img/instagram1.png") center center no-repeat;
}
.social_links a.instagram:hover {
  background-color: #517fa4;
  background-image: url("../img/insta2.png");
}
.social_links a.dribble {
  border-color: #ff0084;
  background: #ffffff url("../img/dribble1.png") center center no-repeat;
}
.social_links a.dribble:hover {
  background-color: #ff0084;
  background-image: url("../img/dribble2\ \(1\).png");
}
